.toc{
    border-left: 1px solid #ebedf0;
    margin-left: 15px;
}

.toc ul{
    list-style: none;
    line-height: 1;

}

.toc a {
    text-decoration: none;
    color: inherit
}

.toc a:active {
    color: inherit
}

.toc a:visited {
    color: inherit
}

.toc a:hover {
    color: inherit
}
